.form {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-bottom: 10px;
}

.btn {
    display: block;
    padding: 8px 12px;
    border: none;
    border-radius: 2px;
    font-size: 18px;
    cursor: pointer;
}

.btn:hover {
    color: #fff;
    background-color: tomato;
}

.input {
    padding: 5px;
    font-size: 18px;
}